@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --primary-color:  #0A0A0A; /* Dark Mode */
  --secondary-color: #00B4D8;
  --accent-color: #9D00FF;
  --text-color: #ffffff;
}

.light {
  --primary-color: #ffffff; /* Light Mode */
  --secondary-color: #FFB347;
  --accent-color: #E6C200;
  --text-color: #000000;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
